.emikuji_box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    div {
        height: 700px;
        width: 300px;
        border: 10px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            width: 1em;
            line-height: 1.2em;
            font-size: 60px;
        }
    }
}
#fukusima {
    display: none;
}
#hosokawa {
    display: none;
}
#nisida {
    display: none;
}

button {
    display: block;
    width: 400px;
    height: 150px;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
