main {
    margin-top: 60px;
}

.random_select {
    margin-top: 50px;
    button {
        display: block;
        width: 400px;
        height: 100px;
        border-radius: 30px;
        border: var(--boxColor) 3px solid;
        background-color: var(--resetColor);
        color: var(--fontColor);
        font-weight: bold;
        font-size: 30px;
    }
}

.btn_after {
    width: 100vw;
    height: 100vh;
    background-color: #ccdcef;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
    img {
        object-fit: cover;
        width: 500px;
        height: 500px;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
    }
}
