* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #1e1b4b;
    --fontColor: #ffffff;
    --boxColor: #fdc700;
    --atkColor: #ff6900;
    --resetColor: #364153;
    --hpColor: #00c950;
}

body {
    background-color: var(--bgColor);
    color: var(--fontColor);
    /* font-weight: bold; */
}

header {
    width: 1000px;
    margin: 200px auto 40px;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        gap: 30px;
        p {
            font-size: 14px;
            span {
                font-size: 18px;
                font-weight: bold;
                margin-left: 6px;
            }
        }
        button {
            display: block;
            background-color: var(--resetColor);
            color: var(--fontColor);
            padding: 10px 20px;
        }
    }
}

main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .turnCheck {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--atkColor);
        h2 {
            font-size: 16px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .battle_status {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 40px;
        .player_box {
            width: 400px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 1px var(--boxColor) solid;
            border-radius: 15px;
            background-color: rgba(29, 38, 58, 1);
            .name_box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .hp_box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            .hp_bar {
                width: 100%;
                height: 20px;
                border-radius: 30px;
                background-color: var(--hpColor);
                margin-top: 15px;
            }
            #atk_btn {
                margin-top: 20px;
                height: 40px;
                border-radius: 20px;
                background-color: rgba(255, 105, 0, 0.2);
                color: var(--atkColor);
                border: solid 1px var(--atkColor);
                font-size: 16px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
                &:hover {
                    background-color: rgba(255, 105, 0, 0.45);
                }
            }
        }
        .vs_box {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: var(--bgColor);
            border: 3px solid var(--resetColor);
            p {
                height: 100%;
                font-weight: bold;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
